<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    servlet相关配置-->
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.join.servlet.student.StudentServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/studentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>com.join.servlet.teacher.TeacherServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/teacherServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.join.servlet.file.FileServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/fileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExamBasicInfoServlet</servlet-name>
        <servlet-class>com.join.servlet.examPage.ExamBasicInfoServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamBasicInfoServlet</servlet-name>
        <url-pattern>/examBasicInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentExamServlet</servlet-name>
        <servlet-class>com.join.servlet.examPage.StudentExamServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentExamServlet</servlet-name>
        <url-pattern>/studentExamServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExamPageSingleServlet</servlet-name>
        <servlet-class>com.join.servlet.examPage.ExamPageSingleServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamPageSingleServlet</servlet-name>
        <url-pattern>/examPageSingleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExamPageCompletionServlet</servlet-name>
        <servlet-class>com.join.servlet.examPage.ExamPageCompletionServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamPageCompletionServlet</servlet-name>
        <url-pattern>/examPageCompletionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExamPageShortServlet</servlet-name>
        <servlet-class>com.join.servlet.examPage.ExamPageShortServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamPageShortServlet</servlet-name>
        <url-pattern>/examPageShortServlet</url-pattern>
    </servlet-mapping>

<!--    Filter相关配置-->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.join.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.join.filter.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>StudentFilter</filter-name>
        <filter-class>com.join.filter.StudentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <servlet-name>StudentExamServlet</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>TeacherFilter</filter-name>
        <filter-class>com.join.filter.TeacherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TeacherFilter</filter-name>
        <servlet-name>ExamPageSingleServlet</servlet-name>
        <servlet-name>ExamPageCompletionServlet</servlet-name>
        <servlet-name>ExamPageShortServlet</servlet-name>
        <servlet-name>ExamBasicInfoServlet</servlet-name>
    </filter-mapping>

</web-app>